a:link, a:visited {
    background-color: #B019BE;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
	 font: 15px arial, sans-serif;
}

a:hover, a:active {
    background-color: #510758;
}

body {background-color: #DEB887
}
.toptext{margin-top: 25px;}

.centrecolor{
	align : center;
	background-color: Aqua
}
h2{
	color: white;
	text-align: center; 
	font: 20px arial, sans-serif;
	padding: 1px 0.2px;
	text-decoration: none;
	LINE-HEIGHT:2px;	
}
.imageSize{
	
}
