a:link, a:visited {
    background-color: DarkBlue;
    color: yellow;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
	 font: 15px arial, sans-serif;
}

a:hover, a:active {
    background-color: DodgerBlue;
}


body {background-color: LightSkyBlue 
}
.toptext{margin-top: 25px;}

.centrecolor{
	align : center;
    background-color: white ;
	/* background: linear-gradient(to right, Khaki   ,BurlyWood  );  */
}
h2{
	color: DarkBlue;
	text-align: center; 
	font: 20px arial, sans-serif;
	padding: 1px 0.2px;
	text-decoration: none;
	LINE-HEIGHT:2px;	
}
.imageSize{
	
}
.roundedimage {
  border-radius: 50%;
}
.topStrip{
	background: linear-gradient(to right, red , yellow); 
}
.latestUpdatesText{
	background: linear-gradient(to right, darkBlue , aqua); 
	 color: yellow;
	 font: 15px arial, sans-serif;
}
.logoBox{
	border-left: 0px solid ;
    border-right: 0px solid ;
	background-color: DarkBlue;
	color: yellow;
	font: 25px arial, sans-serif;
}
.logo{
	 border-left: 0px solid ;
    border-right: 0px solid ;
	background: linear-gradient(to right, DarkBlue , aqua);
	color: yellow;
	font: 25px arial, sans-serif;
}
.logoCollegeText{
	
	text-align: center; 
	vertical-align: top;
	color: yellow;
	font: 45px arial, sans-serif;
	text-shadow: 1px 1px black;
	line-height: 0px;
}
.logoAffiliated{
	
	text-align: center;
	vertical-align: top; 
	color: yellow;
	font: 25px arial, sans-serif;
	text-shadow: 1px 1px black;
	line-height: 0px;
}

.princifounder{
	text-align: center;
	vertical-align: top; 
	color: black;
	font: 25px arial, sans-serif;
	text-shadow: 0.5px 0.5px black;
	line-height: 1px;
}

.cnctaddr{
	text-align: left;
	vertical-align: top; 
	color: black;
	font: 25px arial, sans-serif;
	line-height: 8px;
	padding-left: 5px;
	
}

.cnctaddrdt{
	text-align: left;
	vertical-align: top; 
	color: black;
	font: 18px arial, sans-serif;
	line-height: 7px;
	padding-left: 10px;
	
}
.crsofr{
	text-align: left;
	
	color: black;
	font: 20px arial, sans-serif;
	line-height: 22px;
	padding-left: 10px;
}
.crsofr1{
	text-align: left;
	
	color: black;
	font: 18px arial, sans-serif;
	line-height: 22px;
	padding-left: 10px;
}
.crsofrhdg{
	text-align: left;
	color: black;
	font: 20px arial, sans-serif;
	line-height: 22px;
	padding-left: 10px;
}